<!DOCTYPE html>
<html>
    <head>
        <title>RAE'S PATTERNS</title>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Instrument+Serif:ital@0;1&family=Playfair+Display&display=swap" rel="stylesheet">
        <style>
            * {
                margin: 0;
                padding: 0;
                font-family: 'Crimson Text', serif;
            }
    
          
            .body2 img{
                background-image: url('/views/crotchetcollage.jpg');
            }
  
            .mid_section {
                height:70vh;
                padding-top:2%;
                padding-bottom:4%;
                background-color:#a78073;
                background-image:url(crotchet\ collage.jpg) ;
          
            }
            .mid_section button{
                padding-top:1%;
                padding-left:1%;
                padding-right:1%;
                padding-bottom:1%;
                background:transparent;
                color:white;
                font-size:20px;
                margin-top:20%;
                cursor:pointer;
            }
            .mid_section button:hover{
                transition: 2s;
                background-color:#bd6597;
            }

            
    
        </style>
    </head>
    <body>
       <%- include ('partials/header')%>

      
        <section class="mid_section ">

        <a href="/rae_website/products/Allproducts.php"><button>SHOP NOW</button></a>

        <%-include ('partials/footer')%>
        </section>
   
    </body>
</html>